@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus-LightItalic.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus-Bold.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus-Light.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus-Italic.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus-BoldItalic.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus-Bold.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus-Light.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FS Rufus';
  src: url('#{$font-path}/fsrufus/FSRufus-BoldItalic.woff2') format('woff2'),
  url('#{$font-path}/fsrufus/FSRufus-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

