/* Base Styles -------------------- */
body{
  font-family: "FS Rufus";
  background: #ececec;
  display: flex;
  flex-direction: column;
}
body,html{
  height: 100%;

}
a{
  text-decoration: none !important;
}
header{
  padding: 20px 0px;
  background: $white;
  .logo{
    @include sm{
      padding-left: 0;
    }
    @include md{
      padding-left: 0;
    }
    a{
      height: 100%;
      display: flex;
      img{
        @include esm{
          max-width: 200px;
        }
      }
    }
  }
  .menu{
    @include sm{
      padding-right: 0;
    }
    @include md{
      padding-right: 0;
    }
    .desktop{
      display: flex;
      .link{
        font-weight: bold;
        color: #3c3c3c;
        opacity: .75;
        padding: 7px 15px;
        &.active,&:hover{
          opacity: 1;

        }
      }
      .dropdown{
        .link{
          background: #e5e5e5;
          opacity: .7;
          display: flex;
          align-items: center;
          border-radius: $rounded-pill;
          &:after {
            margin-left: 10px;
            margin-right: 6px;
          }
          .img{
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: $rounded-pill;
            display: flex;
            margin-right: 15px;
            border: 1px solid $white;
            box-shadow: $box-shadow;
            img{
              object-fit: cover;
              width: 100%;
            }
          }
        }
        .dropdown-menu{
          background: #e5e5e5;
          .dropdown-item{
            i{
              margin-right: 15px;
            }

          }
        }
      }
      @include md{display: none}
      @include sm{display: none}
      @include esm{display: none}
    }
    .mobil{
      display: none;
      @include md{display: block}
      @include sm{display: block}
      @include esm{display: block}
      .mobil-menu{
        z-index: 999;
        @extend .animated;

        .mobil-menu-wrap{
          overflow: scroll;

          padding: 30px;
          z-index: 999;
          background: $white;
          position: fixed;
          width: 300px;
          top: 0;
          right: -300px;
          height: 100%;
          @extend .animated;
          transition: $transition-base-cs;
          .navbar-toggler-close{
            i{
              margin-left: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 4px solid #c30078;
              color: #c30078;
              width: 40px;
              height: 40px;
              border-radius: $rounded-pill;
            }
          }
          .name{
            a{
              color: #3c3c3c;
              margin-bottom: 20px;
              display: block;
            }
          }
          .user-tk{
            display: flex;
            justify-content: space-between;
            a{
              color: #3c3c3c;
              padding-bottom: 15px;
              &:nth-child(1){
              }
              i{
                margin-right: 10px;
              }
            }
          }
          .list{
            border-top: 1px solid #979797;
            border-bottom: 1px solid #979797;
            padding: 30px 0px;
            a{
              border-bottom: 1px solid #d8d8d8;
              padding: 15px 0px;
              display: flex;
              align-items: center;
              color: #7d7d7d;
              img{
                margin-right: 10px;
                filter: grayscale(1);

              }
              &:nth-child(1){
                padding-top: 0;
              }
              &:nth-last-child(1){
                padding-bottom: 0;
                border-bottom: 0;
              }
              &.active{
                color: #3c3c3c;
                img{
                  filter: grayscale(0);
                }
              }
              i{
                margin-right: 10px;
              }
            }
          }
          .d-list{
            margin-top: 15px;
            a{
              display: inline-block;
              color: #3c3c3c;
              margin-right: 15px;
            }
          }
        }
      }
    }
    &.menu-active{
      .mobil{
        .mobil-menu{
          background: rgba(#0d0d0d,.8);
          position: fixed;
          width: 100%;
          left: 0;
          top: 0;
          height: 100%;
          @extend .fadeIn;
          .mobil-menu-wrap{
            right: 0;
            @extend .slideInRight;
          }
        }
      }
    }

  }
  .navbar{
    .navbar-collapse{
      .navbar-nav{
        margin-left: auto;
        .nav-item{
          display: flex;
          align-items: center;
          .nav-link{
            font-weight: bold;
            color: #3c3c3c;
            opacity: .75;
          }
          &.dropdown{
            .nav-link{
              background: #e5e5e5;
              opacity: 1;
              display: flex;
              align-items: center;
              border-radius: $rounded-pill;
              &:after {
                margin-left: 10px;
                margin-right: 6px;
              }
              .img{
                width: 30px;
                height: 30px;
                overflow: hidden;
                border-radius: $rounded-pill;
                display: flex;
                margin-right: 15px;
                border: 1px solid $white;
                box-shadow: $box-shadow;
                img{
                  object-fit: cover;
                  width: 100%;
                }
              }
            }
            .dropdown-menu{
              background: #e5e5e5;
              .dropdown-item{
                i{
                  margin-right: 15px;
                }

              }
            }
          }
          &.active,&:hover{
            .nav-link{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.page-title{
  padding: 20px 0px;
  background: linear-gradient(90deg, #c30078 0%, #6e006e 100%);
  color: $white;
  @include md{ min-height: unset}
  @include sm{ min-height: unset}
  @include esm{ min-height: unset}
  a{
    color: $white;
    &.geridon{
      display: block;
      margin-right: 15px;
    }
  }
  h3{
    width: 100%;
    margin-bottom: 0;
    margin-top: 15px;
  }
  .dropdown{

    display: none;
    width: 100%;
    @include md{ display: block}
    @include sm{ display: block}
    @include esm{ display: block}
    @include esm{
      margin: 0px 15px;
    }
    .dropdown-toggle{
      width: 100%;
      background: $white;
      color: #3c3c3c;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      align-items: center;
      font-weight: bold;
      i{
        color: $primary;
      }
      &:after{
        display:none;
      }
    }
    .dropdown-menu{
      width: 100%;
      box-shadow: $box-shadow;
      border-radius: 0;
      margin-top: -1px;

      @include esm{
        margin: 0px 0px;
        margin-top: -1px;
      }
      a{
        color: #3c3c3c;
        display: block;
        padding: 10px 20px;
        i{
          margin-right: 10px;
        }
      }
    }
  }
  &.page-title-dashboard{
    .sol{
      flex: 0 0 0 30%;
      display: flex;
      align-items: center;
      @include md{ display: none}
      @include sm{ display: none}
      @include esm{ display: none}
      span{
        font-size: 18px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
      }
    }
    .sag{
      flex: auto;
      @include esm{
        overflow: hidden;

      }
      .row{
        justify-content: center;
        @include esm{
          .col-3{
            flex: 0 0 31.3333%;
            max-width: 31.3333%;
          }
        }
      }
      input{
        user-select: none !important;
        font-family: "FS Rufus" !important;
        font-size: 17px !important;
        font-weight: 300 !important;
        outline: 0 !important;
        box-shadow: 0 !important;
      }
      .canvas{
        width: 100px;
        @include esm{
          width: 80px;
        }
      }
      .baslik{
        font-weight: bold;
        margin-top: 10px;
        a{
          display: block;
          font-size: 18px;

          @include lg{
            font-size: 16px;
          }
          @include esm{
            font-size: 14px;
            text-align: center;
          }
          @include sm{
            font-size: 13px;
            text-align: center;
          }
        }
      }
    }
  }
}
.page{
  flex: auto;

  &.page-menu{
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(195,0,120,0) 50%);
    @include md{ background: transparent}
    @include sm{ background: transparent}
    @include esm{ background: transparent}
    .container{
      height: 100%;
      .row-wrap{
        height: 100%;
      }
    }
    .p-menu{
      padding-right: 30px;
      padding-top: 30px;
      background: $white;
      @include md{ display: none}
      @include sm{ display: none}
      @include esm{ display: none}


      ul{
        padding: 0;
        margin: 0;
        display: block;
        overflow: hidden;
        margin-left: auto;
        li{
          list-style-type: none;
          a{
            padding: 20px 0px;
            display: flex;
            border-bottom: 1px solid #d8d8d8;
            color: #7d7d7d;
            align-items: center;
            transition: $transition-base-cs;
            img{
              transition: $transition-base-cs;
              filter: grayscale(1);
              margin-right: 10px;
            }
          }
          &.active,&:hover{
            a{
              img{
                filter: grayscale(0);
              }
              color: #3c3c3c;
            }
          }
          &:nth-last-child(1){
            a{
              border-bottom: 0;
            }
          }
        }
      }
    }
    .p-body{
      padding: 30px;
      background: #ececec;
      @include esm{
        padding: 15px;
        margin-top: 30px;
      }
      @include sm{
        padding: 0px;
        margin-top: 30px;
      }
      @include md{
        padding: 0px;
        margin-top: 30px;
      }
    }
  }
  .p-body{
    .p-main-title{
      font-weight: bold;
      color: $primary;
      font-size: 26px;
      margin-bottom: 30px;
    }
    .p-main-title-secondary{
      font-weight: bold;
      color: #c30078;
      font-size: 23px;
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 15px;
    }

    .accordion{
      background: transparent !important;
      .card{
        border-radius: $border-radius;
        margin-bottom: 20px;
        background: transparent;
        border: 0;
      }
      .card-body{
        font-size: 16px;
        background: $white;
        border: 0;
        padding-top: 10px;
        padding-bottom: 50px;
        color: #5d5d5d;
      }

      .card-header{
        padding: 0;
        border-radius: unset !important;

      }
      background: $white;
      button{
        width: 100%;
        padding: 0 0px 0px 20px;
        font-weight: bold;
        border-bottom: 0px solid #5d5d5d;
        text-decoration: none;
        background: $white;
        color: #818285;
        transition: $transition-base-cs;
        text-align: center;
        border-radius: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover,&.active,&[aria-expanded="true"]{
          box-shadow: -2px 0px 0px $primary;
          color: #5d5d5d;

        }
        i{
          padding: 20px ;
        }
        &[aria-expanded="true"]{
          i{
            &:before{
              content: "\f077";
            }
          }
        }


        @include md{
          padding: 0px 15px;
          padding-right: 0;
        }
        @include sm{
          padding: 0px 15px;
          padding-right: 0;
        }
        @include esm{
          padding: 0px 15px;
          padding-right: 0;
        }
      }
      .collapse-wrap{
        .collapse-body{
          padding-top: 30px;
          padding-bottom: 15px;
          ul{
            li{
              list-style-type: none;
              a{
                text-decoration: none;
                display: flex;
                align-items: flex-start;
                font-size: 15px;
                color: #818286;
                margin-bottom: 15px;
                &:before{
                  content: '';
                  width: 5px;
                  height: 5px;
                  display: block;
                  border-radius: $rounded-pill;
                  background: $primary;
                  margin-top: 8px;
                  margin-right: 10px;
                }
                &:hover{
                  color: $primary;
                }
              }
            }
          }
        }

      }

    }

  }
  &.page-settings{
    margin-top: 30px;
    form{
      button.btn{
        background: #82b331;
        color: $white;
        float: right;
        padding: 7px 30px;
      }
      .form-group{
        margin-bottom: 30px;
        &.cinsiyet{
          margin-bottom: 15px;
          p{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  &.page-dashboard{
    .p-body{
      @include esm{
        .row{
          overflow-x: scroll;
          overflow-y: hidden;
          flex-wrap: unset;
          .col-4{
            flex: 0 0 80%;
            max-width: 80%;
            margin-bottom: 30px;

            .item{
            }
          }
        }
      }
    }
    .p-main-title{
      color: #585858;
      font-size: 22px;
      span{
        font-weight: 300;
        margin-left: 5px;
      }
    }
    .item{
      border-radius: $border-radius;
      border: 1px solid transparent;
      padding:20px ;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      justify-content: center;
      @include lg{
        padding:10px ;
      }
      a{
        color: #3c3c3c;
        @include lg{
          font-size: 13px;
        }
      }
      i{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        border-radius: $rounded-pill;
        font-size: 10px;
        border: 1px solid transparent;
      }
      &.item-warning{
        border-color: $primary;
        i{
          background: $primary;
          color: $white;
          transform: rotate(180deg);
        }
      }
      &.item-success{
        i{
          background: #82b331;
          color: $white;
        }
      }
      &.item-new{
        border: 1px dashed  #3c3c3c;
        justify-content: center;
        align-items: center;
        text-align: center;
        i{
          margin: auto;
          margin-bottom: 15px;
          border: 2px solid #3c3c3c;
        }
      }
    }
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #82b331 !important;
  background-color: #82b331 !important;
  box-shadow: unset !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background: transparent;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f00c";
  color: $white;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .custom-formcontrol .form-control {
    box-shadow: none !important;
    border-radius: 0px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #3c3c3c;
    padding-left: 0;
    padding-right: 0;
  }
  .custom-formcontrol .form-control:focus {
    border-color: #3c3c3c; }

  .custom-formcontrol .form-group {
    position: relative; }
  .custom-formcontrol .form-group label.input {
    position: absolute;
    background: transparent;
    z-index: 99;
    font-size: 16px;
    width: 100%;
    top: 9px;
    left: 0px; }

  .custom-formcontrol .form-group label.input::before {
    content: attr(title);
    position: absolute;
    color: #404040;
    background: transparent;
    transition: all 300ms;
  }

  .custom-formcontrol .form-group .form-control:focus + label.input::before {
    color: #404040;
    top: -16px;
    font-size: 10px;

  }

  .custom-formcontrol .form-group .form-control:valid + label.input::before {
    top: -16px;
    font-size: 10px;

    content: attr(data-title); }

footer{
  padding: 50px 0px;
  background: #393939;
  color: #979797;

  a{
    color: #979797;
    &:hover{
      color: #d4d4d4;
    }
    &.logo{
      img{
        width: 210px;
      }
    }
    &.link{
      display: block;
      margin-bottom: 30px;
    }
  }
}
